a:visited {
    text-decoration: none;
    color: teal
}

a:hover { text-decoration: none; /*color:yellow;*/ }
a:focus { text-decoration: none; /*color:orange;*/ }
a:active { text-decoration: none; /*color:teal;*/ }
a:link { text-decoration: none; }
a:visited { text-decoration: none; }

h2 {
    text-align:left;
    margin-left:5%;
    font-size:35px;
    color: #023020;
}

h1 {
    font-size: 72px;
}

h3 {
    font-size: 30px;
    margin-right: 780px;
}

#listDataInput {
    width: 80%;
    padding: 15px;
    font-size: 16pt; 
    margin-bottom: 10px;
}

#addData {
    padding-left: 20px;
}

#inputData {
    font-size: 20px;
}

#sortedInputData {
    font-size: 20px;
}

#chartBlock {
    margin-top:30px;
}

#code {
    margin-left:100px;
    margin-right:200px;
}

button {
    border: none;
    padding: 10px;
    font-size: 25px;
    margin-top:10px;
    border-radius: 8px;
    margin-bottom: 50px;
}

.disabled {
    opacity: 0.1;
    cursor: not-allowed;
}

#listSubmitData {
    background-color: lightgreen;
}

#listSubmitData:hover {
    background-color: darkgreen;
}


#resetButton {
    background-color: lightcoral;
}

#resetButton:hover {
    background-color: darkred;
}

#nextButton {
    background-color: lightgreen;
}


#nextButton:hover {
    background-color: darkgreen;
}


#pauseButton {
    background-color: lightsalmon;
}

#pauseButton:hover {
    background-color: salmon;
}

.playButton {
    background-color: aliceblue;
}
.playButton:hover {
    background-color: antiquewhite;
}

.pauseButton {
    background-color: lightsalmon;
}

.pauseButton:hover {
    background-color: salmon;
}

/* added background color */
html {
    background-color: #a0c9a9;
    background-size: 40px 40px;
    background-image: radial-gradient(circle, #ffffff 1px, rgba(0, 0, 0, 0) 1px);
}

body {
    margin: 10% 5% 10% 5%; /* margin: top right bottom left */
    border-radius: 25px;
    border:8px outset #a0c9a9;
    background-color: #e5ffe9;
}

#listDataInput {
    /* Change search bar color */
    background-color: #cfefd7;
    color: #023020;
    font-family: "Bubbly", sans-serif;
}

h1 {
    color: #F53163;
    font-family: "Bubbly", sans-serif;
}

h3 {
    color: #023020;
    font-family: "Bubbly", sans-serif;
}
#addData {
    margin-left:-8%;
}
#Description {
    font-family:"Lucida Console", "Courier New", monospace;
    font-size:15px;
    margin-bottom:50px;
    margin-left:100px;
    margin-right:200px;
}
mark {
    background-color: #8cac93;
    color: #023020; 
}
#inputData {
    border-bottom: 5px solid #F3DDF2;
    font-family:"Lucida Console", "Courier New", monospace;
}

#sortedInputData {
    border-bottom: 5px solid #F3DDF2;
    font-family:"Lucida Console", "Courier New", monospace;
}

#code{
    border: #fff5d7;
    border:8px outset #836953;
    background-color: #fff5d7;
}

#listSubmitData {
    /* Change submit button color */
    background-color: #C1E1C1;
}

#listSubmitData:hover {
    /* Change submit button color */
    background-color: #2F4C39;
}
