a:visited {
    text-decoration: none;
    color: teal
}

a:hover { text-decoration: none; color:yellow; }
a:focus { text-decoration: none; color:orange; }
a:active { text-decoration: none; color:teal; }

h1 {
    font-size: 72px;
}

h3 {
    font-size: 30px;
    margin-right: 780px;
}

#listDataInput {
    width: 80%;
    padding: 15px;
    font-size: 16pt; 
    margin-bottom: 10px;
}

#addData {
    padding-left: 20px;
}

#inputData {
    font-size: 20px;
}

#sortedInputData {
    font-size: 20px;
}

#chartBlock {
    margin-top:30px;
}

#code {
    margin-left:100px;
    margin-right:200px;
}

button {
    border: none;
    padding: 10px;
    font-size: 25px;
    margin-top:10px;
    border-radius: 8px;
    margin-bottom: 50px;
}

.disabled {
    opacity: 0.1;
    cursor: not-allowed;
}

#listSubmitData {
    background-color: lightgreen;
}

#listSubmitData:hover {
    background-color: darkgreen;
}


#resetButton {
    background-color: lightcoral;
}

#resetButton:hover {
    background-color: darkred;
}

#nextButton {
    background-color: lightgreen;
}


#nextButton:hover {
    background-color: darkgreen;
}


#pauseButton {
    background-color: lightsalmon;
}

#pauseButton:hover {
    background-color: salmon;
}