@import "../../index.css";

/* added background color */
html {
    background-color: #836953;
}

body {
    margin-top:10%;
    margin-left:5%;
    margin-right:5%;
    margin-bottom:10%;
    border:color #fff5d7;
    border:8px outset #836953;
    background-color: #fff5d7;
}

#listDataInput {
    /* Change search bar color */
    background-color: #f6f6eb;
}

h1 {
    color: #ff5e6c;
    font-family: "Bubbly", sans-serif;
}

h3 {
    color: #964B00;
    font-family: "Bubbly", sans-serif;
    background-position: left 10px center;
}

#Description {
    font-family:"Lucida Console", "Courier New", monospace;
    font-size:15px;
    margin-bottom:50px;
    margin-left:100px;
    margin-right:200px;
}

#inputData {
    border-bottom: 5px solid #F3DDF2;
    font-family:"Lucida Console", "Courier New", monospace;
}

#sortedInputData {
    border-bottom: 5px solid #F3DDF2;
    font-family:"Lucida Console", "Courier New", monospace;
}

#code{
    border:color #fff5d7;
    border:8px outset #836953;
    background-color: #fff5d7;
}

#listSubmitData {
    /* Change submit button color */
    background-color: #C1E1C1;
}

#listSubmitData:hover {
    /* Change submit button color */
    background-color: #2F4C39;
}
